:root{

    --color-turquesa: #113E4D;
    --color-turquesa-dos: #277C97;
    --color-blanco:#FFFFFF;
    --color-gris: #5a5a5a;
    --fuente: 'Roboto', sans-serif;
    --tamanio-titulo:30px;
    --tamanio-subtitulo: 22px;
    --tamanio-texto:18px;

}



body{
    background: var(--color-turquesa);
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
  
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario-login{
    background: var(--color-turquesa-dos);
    width: 22rem;
    max-width: 26rem;
    min-width: 20rem;
    height: 20rem;
    max-height: 19rem;
    min-height: 18rem;
    border-radius: .5rem;
    box-shadow: .0rem .0rem .5rem #00000075;
    
}
form{
    text-align: center;
}
form input{
     display:block;
     width: 80%;
     border: 0;
     margin: 1rem auto;
     height: 2rem;
     border-radius: .2rem;
     font-weight: 400;
}
.img-login{
    margin-top: 1rem;
}
.boton-login{
    background: var(--color-turquesa);
    color: var(--color-blanco);
    border-radius: .9rem;
    letter-spacing: .2rem;
    font-weight: 400;
    font-size: var(--tamanio-texto);

}
.boton-login:hover{
    cursor: pointer;
    background: none;
    border: 1px solid var(--color-blanco);
}

p{
    color: var(--color-blanco);
}